.window{
	position:absolute;
	width:100;
	height:200;
	resize: both;
	overflow:auto;
	border: 1px solid black
	
	
}

.titlebar{
	width:100%;
	height:15px;
	background: blue;
	overflow:hidden;
	color:white;
	user-select:none;
}